body{
  margin:0px;
}
header{
  display: flex;
  justify-content: center;
  align-self: center;
  height:80px;
  background-color:orange;
  margin:0px;
  font-size: 25px;
  margin-bottom: 20px;
  width: 1200px;
}
a{
  color:black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}
a:hover{
  color:rgb(255, 255, 255)
}

