html{
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  margin:0px;
}
div{
  margin: 50px;
  margin-right: 100px;
}
header{
  display: flex;
  justify-content: center;
  height:80px;
  margin-right: 20p;
  background-color:orange;
  margin:0px;
  font-size: 25px;
  margin-bottom: 20px;
  width: 100%;
}
a{
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 50px;
  text-decoration: none;
}
a:hover{
  color:rgb(196, 91, 21)
}
.gallery a{
  background-color: rgb(124, 116, 116);
}
img{
  margin-left: 50px;
  margin-top: 30px;
}
.mclaren-senna-overview p{
 font-size: 14px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

