body{
  margin:0px;
}
div{
  margin: 50px;
  margin-right: 100px;
}
header{
  display: flex;
  justify-content: center;
  height:80px;
  margin-right: 20p;
  background-color:orange;
  margin:0px;
  font-size: 25px;
  margin-bottom: 20px;
  width: 1400px;
}
a{
  color:black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 50px;
  text-decoration: none;
}
a:hover{
  color:rgb(255, 255, 255)
}
img{
  margin-left: 50px;
  margin-top: 30px;
}

