html{
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}
body{
  margin:0px;
  overflow-x: hidden;
}
div{
  margin: 50px;
  margin-right: 100px;
}
header{
  display: flex;
  justify-content: center;
  height:80px;
  margin-right: 20px;
  background-color:orange;
  margin:0px;
  font-size: 25px;
  margin-bottom: 20px;
  width: 100%;
  font-weight: bold;
}
a{

  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 50px;
  text-decoration: none;
}
a:hover{
  color:rgb(228, 218, 20)
}
img{
  border-style: solid;
  border-color: orange;
  border-radius:10px;
  margin-left: 50px;
  margin-top: 30px;
}
.mclaren-senna-overview p{
 font-size: 16px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 width: 750px;
}
.test{
  width: 100%;
  display: flex;
}
.gallery{
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 1500px;
}

